charactor {
    .el {
        display: block;
        width: 80px;
        height: 80px;
        background: rebeccapurple;
        position: fixed;
        transform: translate3d(-50%, -50%, 0);
        will-change: top left;
    }
    .move-point {
        position: fixed;
        width: 50px;
        height: 50px;
        background: rgba(218, 154, 255, 0.25);
        border: 1px solid rgb(203, 112, 255);
        border-radius: 25px;
        transform: translate3d(-50%, -50%, 0) scale(0);
        animation: move-point .5s ease;
    }
    @keyframes move-point {
        0% {
            opacity: 0;
            transform: translate3d(-50%, -50%, 0) scale(0);
        }
        50% {
            opacity: 1;
            transform: translate3d(-50%, -50%, 0) scale(1);
        }
        100% {
            opacity: 0;
            transform: translate3d(-50%, -50%, 0) scale(0);
        }
    }
}